[submodule "soot-infoflow-android"]
	path = soot-infoflow-android
	url = https://github.com/johspaeth/soot-infoflow-android
[submodule "soot-infoflow"]
	path = soot-infoflow
	url = https://github.com/johspaeth/soot-infoflow
[submodule "CryptoAnalysis"]
	path = CryptoAnalysis
	url = https://github.com/CROSSINGTUD/CryptoAnalysis
